@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    background-image: url("https://i.pinimg.com/564x/4a/72/e5/4a72e5aa201ba148b0eb277aeccc4045.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.header {
    width: 50%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 25%;
}

.profile {
    width: 50%;
    height: 50%;
    background-color: rgb(243, 169, 161);
    border-radius: 2%;
    border: solid 5px salmon;
    position: absolute;
    top: 25%;
    right: 25%;
    bottom: 25%;
}

.top {
    width: 100%;
    height: 40%;
    border-bottom: 2px;

}

.avatar {
    width: 25%;
    height: 100%;
    float: left;
    margin: 0 auto;
}

.pic {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;

}

.name {
    width: 70%;
    height: 100%;
    float: left;
}

.bottom {
    width: 100%;
    height: 70%;
}

.p1 {
    font-size: 7vmin;
    text-align: center;
    color: white;
}

.message {
    width: 100%;
    height: 20%;
}

.p2 {
    font-size: 4vmin;
    text-align: center;
    color: cyan;
}

.contact {
    width: 100%;
    height: 20vh;
}

.icon {
    display: inline-block;
    width: 30%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.p3 {
    color: black;
    font-size: 2.5vmin;
}

.icon-pic {
    width: 50%;
    height: 50%;
    border-radius: 2px;
}

h2 {
    margin: 0 auto;
    text-align: center;
    color: salmon;
    font-size: 2rem;
}

.countdown {
    font-family: 'Odibee Sans', cursive;
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
}

.footer {
    width: 50%;
    height: 10%;
    position: absolute;
    bottom: 3%;
    left: 25%;
    text-align: center;
    font-family: 'Odibee Sans', cursive;
    font-size: 60px;
    margin: 0 auto;
    color: black;
}